

<h1 id="dataName"> <%= @activity_data.name %> </h1>

<% @activity_data.users.each do |user| %>
    <p id="userName"><%= user.username %></p>
<% end %>

<button id="next" data-id="<%=@activity_data.id%>">Next Activity</button>

<%= javascript_include_tag "show_activities" %>
