<h1 style="text-indent: 0px;">Welcome to iWorkout</h1>
<br>
<p style="font-size: 18px;">iWorkout is a one of a kind exercise application. You should probably use it for a few reasons:</p>
<br>
<ol style="font-size: 18px;">
  <li>It's awesome</li>
  <li>Your friends are using it</li>
  <li>You should be using it</li>
  <li>Why aren't you using it yet?</li>
</ol>
<br>
<%= image_tag "exercise3.jpg", id: 'main-picture' %>