<h1 style="text-indent: 0px;">Welcome to ScottFit</h1>
<br>
<p style="font-size: 18px;">Lose 50 pounds while coding!"</p>
<br>

<%= link_to "Log in", login_path %>
<%= link_to "Sign up", signup_path %>