<%= image_tag "404-cat.jpg", id: 'cat-picture' %>

<div style="margin-top: 42px; text-align: center;">
  <h1 style="position: relative; bottom: 180px; color: #fffdb2;">
    I'm sorry, I couldn't find your page.
  </h1>
  <h5 style="position: relative; bottom: 140px; color: #e5e5e5;">
    <a href="http://www.prettykitty.city" target="_blank">Pet me!</a>
  </h5>
</div>