<h1>Challenge yourself!</h1>
<br>
<br>

<br>
<br>
<br>
<br>
<% @challenges.each do |challenge| %>
  <% if challenge.end_date > (Date.today) %>
      <<%= challenge.name %>
      <%= challenge.start_date %>
      <%= challenge.end_date %>
      <br>
    <br>
    <% end %>
  <% end %>

<%= link_to "Create new challenge",  new_user_challenge_path %>
