// Place all the styles related to the Challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_c_btn {
    float: right;
    position: relative;
    bottom: 42px;
    right: 292px;
  }
  
  #wrapper {
    width: 800px;
  }