<!DOCTYPE html>
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
</head>
<body class="cool-background">

<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>